
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333; 
    background-color: #c2c2d3; 
}

h2 {
    font-size: 24px;
    color: #1a1aff; 
}

.deemphasized {
    color: #888888; 
}

#emphasized-text {
    color: #ff6347; 
    font-weight: bold;
}

ul {
    list-style-type: square;
    margin: 20px;
}

li {
    margin: 10px 0;
}

span.highlight {
    background-color: #ffff66;
    padding: 2px;
}


.hero-section {
    padding: 50px;
    background-color: #4CAF50;
    color: white; 
}
